@import "tailwindcss";
@theme {
  --font-family-spacegrotesk: "Space Grotesk", sans-serif;
  --color-blue: hsl(249, 99%, 64%);
  --color-violet: hsl(278, 94%, 30%);
  --color-red: hsl(0, 100%, 66%);
  --color-violet-300: hsl(270, 3%, 87%);
  --color-violet-600: hsl(279, 6%, 55%);
  --color-violet-900: hsl(278, 68%, 11%);
}
